<h1>RADAR</h1>
<div class="large-6 columns">
    <% @posts.each do |post| %>
    <hr><hr>
    <div class="column">
        <div class="card">
            <img src="assets/img/generic/rectangle-1.jpg">
            <div class="card-section">
                <h4><%= post.subject %></h4>
                <h5><%= post.topic %>
                    <h5>
                        <h6>Location
                            <%= post.place %>
                            | Date
                            <%= post.date %></h6>
                        <p>
                            <%= post.data[0...200] %>
                        </p>

                        Comments
                        <span class="secondary badge">
                            <%= post.comments.count  %>
                        </span>

                            
                            <%= link_to "Details", post_path(post) %>
                    </div>
                </div>
            </div>

            <% end %>
