<title>RADᗡAR</title>
<div class="container mainci">
    <div class="page-header">
        <h1>THIS IS RADAR</h1>
    </div>
    <medium>"Intelligent Aliens Could Destroy Humanity, But Let's Search Anyway"</medium> -Stephen Hawking<hr><div class="alert-danger">Our Top Stories for today</div>

    <div class="row">
        <div class="span11" style="overflow: auto">
            <div class="thumbnail">

                <div class="row-fluid">
                    <% @posts.each do |post| %>
                    <div class="col-lg-3">
                        <h4><%= post.subject %></h4>
                        <h5><%= post.topic %></h5>
                        <h6>Location:
                            <%= post.place %>
                            | Date:
                            <%= post.date %></h6>

                        <div class="caption">
                            <label for="comment"></label>
                            <textarea class="form-control" rows="5" id="comment"><%= post.data%>...</textarea>
                        </div>

                        <div class="comnt">Comments
                            <%= post.comments.count  %>
                        </div>
                        <div class="btn more">
                            <%= link_to "More Details", post_path(post) %>
                        </div>

                    </div>
                    <% end %>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
