<h1>RADAR</h1>
    <ul>
    <% @posts.each do |post| %>
    <hr><hr>
    <h1> <%= post.subject %> </h1>
    <hr>

    <h3>  <%= post.topic %> </h3>
    <hr>

    <p> Location <%= post.place %>   |  Date <%= post.date %></p>

    <div> Data <%= post.data %> </div>

    <div> Comments </div>

    <br>
    views
    <%= link_to "Details", post_path(post) %>

    <hr>
    <% end %>


  </ul>
