<h1>Add a new post!</h1>

<%= form_for @post do |f| %>

  Topic:
  <div>
    <%= topic_select(Topic.all) %>
      <% end %>

  </div>
  Location:
  <ul>
    <%= f.fields_for :locations do |location_form| %>
      <li>
        <%= location_form.label :country %>
        <%= location_form.text_field :country %>

        <%= location_form.label :city %>
        <%= location_form.text_field :city %>

        <%= location_form.label :details %>
        <%= location_form.text_field :details %>

      </li>
    <% end %>
  </ul>
    <div>
        <%= f.label :subject %>
        <%= f.text_field :subject %>
    </div>

    <div>
        <%= f.label :date %>
        <%= f.number_field :date %>
    </div>

    <div>
        <%= f.label :data %>
        <%= f.text_area :data %>
    </div>

    <%= f.submit "Submit New Post!" %>

<% end %>

<%= link_to "Back to the list!", posts_path %>
