<h1> <%= @post.topic %> </h1>

<h2> <%= @post.subject %> </h2>

<p> Location <%= @post.location %> Date <%= @post.date %></p>

   <p> <%= @post.data %> </p>

   <p> <%= @post.comments %>

<%= link_to "Main list", posts_path %>
<%= link_to "Edit this post!", edit_post_path(@post) %>
<%= link_to "Delete this post!", post_path, method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
