<ul>

    <h1>
        <%= @post.subject %>
    </h1>

    <h3>
        <%= @post.topic %>
    </h3>

    <p>
        LOCATION
        <%= @post.place %>
        | DATE
        <%= @post.date %></p>

    <div>
        DATA
        <%= @post.data %>
    </div>
    <hr>
    <table>COMMENTS</br>
    <% @post.comments.each do |c| %>

    <br>
    <tr>
        By <%= c.user.alias %> - <%= c.comment %>
        <%= link_to "Delete", post_comment_path(@post, c), method: :delete if current_user == c.user %>
    </tr><br>
</table>
<hr>
<% end %>
<div>
    LEAVE A COMMENT
</div>
<br>
<%= render 'comments/form' %>
