<ul>

<h1> <%= @post.subject %> </h1>

<h3>  <%= @post.topic %> </h3>

<p> Location <%= @post.place %>   |    Date <%= @post.date %></p>

<div> Data <%= @post.data %> </div>
<hr>
<table>Previous Comments</br>
  <% @post.comments.each do |c| %>
  <tr> By <%= c.user.alias %> - <%= c.comment %> </tr>
</table>
<hr>
<% end %>
<div> Comments </div>
<%= render 'comments/form' %>
