<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <title>RADᗡAЯ</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <img src="http://i.imgur.com/2ukFiLt.jpg" id='radarh'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <% if current_user && current_user.is_admin %>
      <div class="container mainc">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><%= link_to 'Main', root_path %></li>
                    <li role="presentation" class="active"><%= link_to 'Dashboard', dashboard_path %></li>
                    <li role="presentation" class="active"><%= link_to 'Log Out', logout_path, method: :delete %></li>
                    <div class="alert alert-success">
                        <strong><%= "BIG BOSS IS IN DA HOUSE!" %>
                            <strong></div>
                              <% if alert %>
                              <div class="flashed alert alert-danger">
                                <strong><%= alert %></strong>
                              </div>
                              <%end%>
                            </ul>
                            </div>
                    </div>
                  </div>
                <% elsif current_user %>
                <div class="container mainc">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="active"><%= link_to 'Main', root_path %></li>
                            <li role="presentation" class="active"><%= link_to 'Log Out', logout_path, method: :delete %></li>
                            <div class="alert alert-info">
                                <strong><%= "#{current_user.alias} is searching the RADAR" %></strong>
                                    <span class="glyphicon glyphicon-eye-open"></span></div>
                                    <% if alert %>
                                    <div class="flashed alert alert-danger">
                                      <strong><%= alert %></strong>
                                    </div>
                                    <%end%>
                                    </ul>
                            </div>
                          </div>
                        </div>
                    <% else %>
                    <div class="container mainc">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ul class="nav nav-pills">
                                    <li role="presentation" class="active"><%= link_to 'Main', root_path %></li>
                                    <li role="presentation" class="active"><%= link_to 'Log In', login_path %></li>
                                    <li role="presentation" class="active"><%= link_to 'Join us', new_user_path %></li>
                                    <% if alert %>
                                    <div class="flashed alert alert-danger">
                                      <strong><%= alert %></strong>
                                    </div>
                                    <%end%>
                                  </ul>
                            </div>
                            </div>
                        </div>
                        <% end %>
                        <script type="text/javascript">
                        $(document).ready(function () {
                          setTimeout(function () {
                            $('.flashe').remove();
                          }, 4000);
                        })
                        </script>
                        <%= yield %>
                        <script src="js/bootstrap.min.js"></script>
                    </body>
                </html>
